.to_do_list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  width: 360px;
  height: 340px;
  margin-left: 60px;
}

h2 {
  text-align: center;
  padding-top: 15px;
}

li {
  margin-top: 15px;
  margin-left: 10px;
  list-style: none;
}

img {
  height: 50px;
  width: auto;
}

.allCards {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  height: 340px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 30px 30px 30px 30px;
}

.navbar_course {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar_course a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border-radius: 5px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 300px;
  font-size: 18px;
}

.navbar_course a:hover, .dropdown:hover .dropbtn {
  background-color: #00314a;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  border-radius: 5px;
  width: 268px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.course-rev-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.course-rev-title {
  padding: 20px;
}
.form-name {
    padding: 20px;
}

#namn {
  padding: 5px;
  font-size: 16px;
  width: 500px
}

.placeholder-fix:focus::-webkit-input-placeholder {
  color:transparent;
}

.placeholder-fix:focus::-moz-placeholder  {
  color:transparent;
}

.placeholder-fix:-moz-placeholder {
  color:transparent;
}

.form-label {
  margin: 20px;
  width: 500px;
  resize: none;
  overflow: scroll;
}
.textarea.form-label {
  width: 500px;
  height: 500px;
  overflow: auto;
}

    display:flex; {
    flex-direction:column;
 }
.radio{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width: 500px;

}


.course-rev-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;*/
  margin-top: 20px;

}
