.course-rev-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.course-rev-title {
  padding: 20px;
}
.form-name {
    padding: 20px;
}

#namn {
  padding: 5px;
  font-size: 16px;
  width: 500px
}

.placeholder-fix:focus::-webkit-input-placeholder {
  color:transparent;
}

.placeholder-fix:focus::-moz-placeholder  {
  color:transparent;
}

.placeholder-fix:-moz-placeholder {
  color:transparent;
}

.form-label {
  margin: 20px;
  width: 500px;
  resize: none;
  overflow: scroll;
}
.textarea.form-label {
  width: 500px;
  height: 500px;
  overflow: auto;
}
.display:flex; {
  flex-direction:column;
 }
.radio{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width: 500px;

}


.course-rev-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;*/
  margin-top: 20px;

}
