* {
 margin: 0;
 padding: 0;
 font-family: lato;
}
a {
    text-decoration: none;
  }
p {
  font-size: 16px;
  line-height: 20px;
}

li {
  line-height: 20px;
}

/*----------------Layout overview---------------------*/
.course {
  display: flex;
  width: 50%;
}

.course li {
  margin-left: 20px;
}

.course h2 {
  text-align: center;
}

.task {
 line-height: 40px;
 margin-top: 20px;
 margin: 20px 20px 20px 20px;
 padding: 20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 border-radius: 5px;
}
.task p {
 text-align: left;
}

#course-evaluation {
  text-align: center;
  width: 50%;
}
.sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Layout under the navbar*/

.gradeimg img {
  margin-left: 15px;
  width: 50px;
  height: 50px;
}
.header h1 {
  margin-top: 20px;
  margin-left: 15px;
}
.link a {
  margin-left: 15px;
}
/*----------------------------------------------------------------------------------------*/
/*Header with logo and logout*/
.header {
    width: 100%;
    height: 80px;
    /*border: 2px solid red;*/
    display: flex;
    z-index: -10;
    justify-content: space-between;
    color: black;
    align-items: center;
}
.logotype img {
    /*border: 1px solid blue;*/
    flex: 1;
    margin: 0 0 5px 20px;
    position: relative;
    height: 70px;
    width: auto;
}
.logout_btn {
    background-color: #00314a;
    border: none;
    color: white;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px;
}
.logout_btn:hover {
  opacity: 0.8;
  text-decoration: none;
}
/*Relative navbar*/
.navbar {
    height: 50px;
    width: 100%;
    /*border: 2px solid red;*/
    background-color: #f85f06;
}
nav {
    float: left;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}
nav a{
    color: #E5F9FF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    /*border: 2px solid red;*/
    padding-top: 15px;
}
nav a:hover {
    color: #E5F9FF;
}
nav a:before {
    content: '';
    display: block;
    height: 5px;
    background-color: #E5F9FF;
    position: absolute;
    width: 0%;
    top:-15px;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
    top: -15px;
}
/*-------------------------------------------------------------------------*/
/*Layout under the navbar*/
.main-content-dashboard {
    display: flex;
    width: 100%
    height: 800px;
    /*border: 1px solid red;*/
    /*position: absolute;*/
}
.main-content-column-left {
    margin-top: 8px;
    flex: 3;
    /*border: 1px solid blue;*/
    height: 800px;
    /*position: relative;*/
    /*flex-wrap: wrap;*/
    /*overflow: scroll;*/
}
.main-content-column-right {
    margin-top: 8px;
    flex: 1;
    /*border: 1px solid red;*/
    width: 900px;
}
.main-content-column-right .container {
    margin-top: 20px;
}
/*------------------smileys rating-----------------*/
#smiley-rating {
    /*display: inline-block;*/
    margin-top: 15px;
}
.smiley-glad, .smiley-meh, .smiley-sad {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}
.smiley-glad:hover {
    color: #00cc13;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.smiley-meh:hover {
    color: #fcd200;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.smiley-sad:hover {
    color: #ff1407;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.smiley-all {
    display: flex;
    justify-content: center;
}
.smiley-rating-question p {
    margin: 0 0 5px;
    /*font-family:*/
    text-align: center;
}
#smiley-rating-message {
    /*font-family: */
    margin-top: 15px;
    text-align: center;
}
/*------------------weekly evaluation-----------------*/
#name_required {
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

.main-form {
    /*border: 1px solid black;*/
    display: flex;
    /*justify-content: center;*/
    text-align: center;
    flex-direction: column;
    height: 800px;
}
.header_text_weekly_servey {
/*  background-color:rgb(245, 245, 245);*/
}
.header_text_weekly_servey h2 {
    font-size: 25px;
    text-align: center;
}
.header_text_weekly_servey p {
    font-size: 18px;
    text-align: center;
}
.form-label {
    /*border: 1px solid black;*/
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}
.form-rating {
    /*border: 1px solid black;*/
    margin-bottom: 10px;
    /*text-align: center;*/
    font-size: 15px;
}
.form-rating p {
    text-align: center;
}
.form-comment{
    text-align: center;
}
.form-comment textarea{
    /*border: 1px solid black;*/
    border:1px soild black;
    width: 70%;
    resize: none;
    height: 75px;
    border-radius: 5px;
}
.form-comment >input{
    /*border: 1px solid black;*/
}
.comment_input {
    width: 100%;
}
/*button in weekly evaluation*/
.form_btn {
    /*border: 1px solid black;*/
    text-align: center;
    justify-content: center;
}
.form_btn_inside {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 5px ;
    margin-top: 5px;
    /*border: 1px solid black;*/
}
.btn_form_weekly {
    align-self: center;
}
/*.rating-1:nth-child(odd){
    background-color: rgb(245, 245, 245);
}*/

#fill_your_name, #enterkod_code_message {
    color: red;
    font-size: 14px;
    text-align: center;
}

#slidecontainer {
    width: 100%; /* Width of the outside container */
}

.range-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    /*appearance: none;*/
    width: 300px; /* Full-width */
    height: 12px; /* Specified height */
    border-radius: 5px;
    box-shadow: inset 0 0 7px #4c4c4c; /*inset shadow*/
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    margin: 0 8px;
}

.range-slider:hover {
    opacity: 0.9; /* Fully shown on mouse-over */
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50px;
    background: #00314a; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider-text-good {
    /*padding: 0 6px;*/
    display: inline-block;
    text-align: left;
    width: 80px;
}
.slider-text-bad {
    /*padding: 0 6px;*/
    display: inline-block;
    text-align: right;
    width: 80px;
}
/*------------------weekly evaluation-----------------*/
/*-----------------button class for whole website----------------*/
button {
  background-color: #00314a;
  border: none;
  color: white;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 5px;
  /*border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #00314a;
  padding: 3px 3px;
  margin-top: 0;
  text-decoration: none;*/
}
button:hover {
  opacity: 0.8;
  text-decoration: none;
  /*background: #002e7a;
  text-decoration: none;*/
}
#atten_input {
    height:28px;
    font-size:13pt;
    border-radius: 5px;
}
.rating-1 {
    line-height: 200%;
}

/*------------------Course Table Info-----------------*/
table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
  width: 100%;
}
.tabletop {
  background-color: #a2a2a2;
  color: white;
}
td:nth-child(6) {
  margin-top: 5px;
  text-align: right;
}
img#modal-btn {
  cursor: pointer;
}


/*------------------Course Evaluation-----------------*/
/*.course-rev-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.course-rev-title {
  padding: 20px;
}
.form-name {
    padding: 20px;
}

#namn {
  padding: 5px;
  font-size: 16px;
  width: 500px
}

.placeholder-fix:focus::-webkit-input-placeholder {
  color:transparent;
}

.placeholder-fix:focus::-moz-placeholder  {
  color:transparent;
}

.placeholder-fix:-moz-placeholder {
  color:transparent;
}

.form-label {
  margin: 20px;
  width: 500px;
  resize: none;
  /*overflow: scroll;
}

.form-label textarea {
  resize: none;
}
.textarea.form-label {
  width: 500px;
  height: 500px;
  overflow: auto;
}

.display:flex; {
  flex-direction:column;
 }
.radio{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width: 500px;

}


.course-rev-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;
  margin-top: 20px;
}*/




/*------------------Course Evaluation-----------------*/
.range-slider-courses {
  margin: 15px;
  display: block;
  flex: auto;
  text-align: center;
}
.range-slider-courses p {
  text-align: center;
}
#submit_message_courses {
  text-align: center;
  margin: 25px 0;
}

@media (max-width: 650px) {
  .range-slider-courses {
    zoom: 0.8;
  }
}
@media (max-width: 500px) {
  .range-slider-courses {
    zoom: 0.7;
  }
}
/*------------------ News feed -----------------------*/

/**{
  padding: 0;
  margin: 0;
}*/
.news-wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;

}

.news-title {
  justify-content: center;
  text-align: center;
  width: 800px;
  margin-bottom: 20px;
  padding: 10px;
}
.news-box {
  width: 780px;
  height: 400px;
  /*border: 1px solid lightgrey;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: scroll;
}
.news-slides {
  border-bottom: 1px solid grey;
}

.news-box dt {
  font-size: 22px;
  font-weight: bold;
  line-height: 200%;
  margin: 15px 0 10px 0 ;
  padding: 5px;
}

.news-box dd {
  margin: 5px;
  padding-top: 3px;

}



/*-------------------------------------------------------*/

.wrapper {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.teacher-input-bar {
/*  padding: 10px;
*/  margin-bottom: 20px;

}
.teacher-course {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 20px;
  background-color: #a2a2a2;
  color: white;
}

#teacher-date, #teacher-subject, #teacher-upload, #teacher-submit, #teacher-select  {
  width: 10%;

}

#teacher-date {
}

#teacher-subject {

}

#teacher-course {
  width: 35%;
  height: 35px;
}

#teacher-upload {

}

/*#teacher-comment {
  text-align: center;
  width: 20%;
  height: 35px;

}*/

.teacher-course-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 25px;
  border-bottom: 1px solid lightgrey;

}

#teacher-date-input, #teacher-subject-input, #teacher-upload-input, #teacher-submit-input, #teacher-select-input{
  width: 10%;
  height: 25px;

}

#teacher-course-input {
  width: 35%;
  height: 35px;
}

#teacher-comment-input {
  text-align: center;
  width: 20%;
  height: 25px;

}



#date-label, #excercise-label, #description-label, #upload-label, #course-label-select {
  width: 10%;
 /* margin-left: 18px;*/
  /*border: 1px solid black;*/
}
.label, .input {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;


}
#description-label, #description-input{
  width: 35%;
  flex-wrap: wrap;
}
#date-input, #excercise-input, #description-input, #upload-input, #course-select, .btn-add-excercise, #date-label, #course-label-select, #excercise-label, #upload-label {
    width: 10%;
    /*margin-left: 15px;*/
    border-radius: 5px;
    height: 25px;
    /*border: 1px solid black;*/
    /*justify-content: space-between;*/
}
#description-input, #description-label {
  width: 35%;
  flex-wrap: wrap;

}
#excercise-input {
  height: 29px;
}
.label {
  margin-bottom: 5px;
}
.btn-add-excercise {
  text-align: center;
  justify-content: space-between;
  /*margin: 0 50% 0 50;*/
  margin-left: 85%;
  margin-top: 10px;
  padding-bottom: 20px;
}

.submit-message, .invalid-message {
  margin-left: 40%;
  padding-bottom: 15px;
}


/*--------------------CSS for teacher charts----------------------*/

/*.curveChart {
  width: 400px;
  height: 400px;
  border: 1px solid red;
}*/

.main-curveChart {
  display: flex;
  justify-content: space-around;
  /*flex-direction: row;*/
}

.main-curveChart li {
  list-style: none;
}

.pieComment {
  /*display: inline-flex;*/
  flex-wrap: nowrap;
  /*flex-direction: row-reverse;*/
  /*border: 1px red solid;*/

}
.main-pieChart {
  display: flex;
  justify-content: center;
}
.main-pieChart:nth-child(even){
  flex-direction: row-reverse;
}
.pieComment li {
  /*list-style: none;*/
}
.heading-text {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-weight: bold;

}
.smiley {
  display: flex;
  width: 100%;
  align-items: center;
  /*border: 1px solid black;*/
  justify-content: center;
}
.smiley-2, .smiley-1, .smiley-3 {
  margin-right: 5px;
}

.pieChart {
  /*border: 1px solid red;*/
}
/*--------------------CSS for teacher charts----------------------*/


/*------------------Adding excercise and test for teacher-----------*/

 #li-exersice-corr-date, #li-exersice-student, #li-exersice-corr-subject #li-exersice-corr-course, #li-exersice-corr-upload, #li-exersice-comment, #li-exersice-grade  {
    width: 10%;
  }

#expand {

  display: flex;
  flex-direction: column;
}

.teacher-course-input:hover {
  background-color: #F5F5F5
}

@media only screen and (max-width: 800px) {

  .teacher-course, .teacher-course-input {
    align-self: center;
    height: 35px;
  }



}
