* {
  margin: 0;
  padding: 0;
  font-family: lato;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 20px;
}

li {
  line-height: 20px;
}

.hidden {
  display: none;
}

h2 {
  text-align: center;
}

#success_message {
  color: black;
}

#alert_message {
  color: red;
}
/*----------------Layout overview---------------------*/
#rubrik {
  border-radius: 5px;
}

.inv {
  display: none;
}

#target {
  height: 29px;
}

.course {
  display: flex;
  width: 50%;
}

.course li {
  margin-left: 20px;
}

.course h2 {
  text-align: center;
}

.task {
  line-height: 40px;
  margin-top: 20px;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.task p {
  text-align: left;
}

#course-evaluation {
  text-align: center;
  width: 50%;
}

.sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Layout under the navbar*/
.gradeimg img {
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

.header h1 {
  margin-top: 20px;
  margin-left: 15px;
}

.link a {
  margin-left: 15px;
}
/*Header with logo and logout*/
.header {
  width: 100%;
  height: 80px;
  display: flex;
  z-index: -10;
  justify-content: space-between;
  color: black;
  align-items: center;
}

.logotype img {
  flex: 1;
  margin: 0 0 5px 20px;
  position: relative;
  height: 70px;
  width: auto;
}

.logout_btn {
  background-color: #00314a;
  border: none;
  color: white;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 5px;
}

.logout_btn:hover {
  opacity: 0.8;
  text-decoration: none;
}
/*Relative navbar*/
.navbar {
  height: 50px;
  width: 100%;
  background-color: #f85f06;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

nav a {
  color: #E5F9FF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 15px;
}

nav a:hover {
  color: #E5F9FF;
}

nav a:before {
  content: '';
  display: block;
  height: 5px;
  background-color: #E5F9FF;
  position: absolute;
  width: 0%;
  top: -15px;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
  top: -15px;
}

/*Layout under the navbar*/
.main-content-dashboard {
  display: flex;
  width: 100%;
  height: 800px;
}

.main-content-column-left {
  margin-top: 8px;
  flex: 3;
  height: 800px;
}

.main-content-column-right {
  margin-top: 8px;
  flex: 1;
  width: 900px;
}

.main-content-column-right .container {
  margin-top: 20px;
}
/*------------------smileys rating-----------------*/
#smiley-rating {
  margin-top: 15px;
}

.smiley-glad, .smiley-meh, .smiley-sad {
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
}

.smiley-glad:hover {
  color: #00cc13;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.smiley-meh:hover {
  color: #fcd200;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.smiley-sad:hover {
  color: #ff1407;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.smiley-all {
  display: flex;
  justify-content: center;
}

.smiley-rating-question p {
  margin: 0 0 5px;
  text-align: center;
}

#smiley-rating-message {
  margin-top: 15px;
  text-align: center;
}
/*------------------weekly evaluation-----------------*/
#name_required {
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

.main-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 800px;
}

.header_text_weekly_servey {
}

.header_text_weekly_servey h2 {
  font-size: 25px;
  text-align: center;
}

.header_text_weekly_servey p {
  font-size: 18px;
  text-align: center;
}

.form-label {
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
}

.form-rating {
  margin-bottom: 10px;
  font-size: 15px;
}

.form-rating p {
  text-align: center;
}

.form-comment {
  text-align: center;
}

.form-comment textarea {
  border: 1px solid black;
  width: 70%;
  resize: none;
  height: 75px;
  border-radius: 5px;
}

.form-comment >input {
}

.comment_input {
  width: 100%;
}
/*button in weekly evaluation*/
.form_btn {
  text-align: center;
  justify-content: center;
}

.form_btn_inside {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 5px;
  margin-top: 5px;
}

.btn_form_weekly {
  align-self: center;
}

#fill_your_name, #enterkod_code_message {
  color: red;
  font-size: 14px;
  text-align: center;
}

#slidecontainer {
  width: 100%;
}

.range-slider {
  width: 300px;
  height: 12px;
  border-radius: 5px;
  box-shadow: inset 0 0 7px #4c4c4c;
  background: #d3d3d3;
  outline: none;
  margin: 0 8px;
}

.range-slider:hover {
  opacity: 0.9;
}

.range-slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #00314a;
  cursor: pointer;
}

.slider-text-good {
  display: inline-block;
  text-align: left;
  width: 80px;
}

.slider-text-bad {
  display: inline-block;
  text-align: right;
  width: 80px;
}
/*------------------weekly evaluation-----------------*/
/*-----------------button class for whole website----------------*/
button {
  background-color: #00314a;
  border: none;
  color: white;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
  text-decoration: none;
}

#atten_input {
  height: 28px;
  font-size: 13pt;
  border-radius: 5px;
}

.rating-1 {
  line-height: 200%;
}

/*------------------Course Table Info-----------------*/
table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

table#t01 {
  width: 100%;
}

.tabletop {
  background-color: #a2a2a2;
  color: white;
}

td:nth-child(6) {
  margin-top: 5px;
}

img#modal-btn {
  cursor: pointer;
}

/*------------------Course Evaluation-----------------*/
/*.course-rev-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.course-rev-title {
  padding: 20px;
}
.form-name {
    padding: 20px;
}

#namn {
  padding: 5px;
  font-size: 16px;
  width: 500px
}

.placeholder-fix:focus::-webkit-input-placeholder {
  color:transparent;
}

.placeholder-fix:focus::-moz-placeholder  {
  color:transparent;
}

.placeholder-fix:-moz-placeholder {
  color:transparent;
}

.form-label {
  margin: 20px;
  width: 500px;
  resize: none;
  /*overflow: scroll;
}

.form-label textarea {
  resize: none;
}
.textarea.form-label {
  width: 500px;
  height: 500px;
  overflow: auto;
}

.display:flex; {
  flex-direction:column;
 }
.radio{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width: 500px;

}


.course-rev-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;
  margin-top: 20px;
}*/

/*------------------Course Evaluation-----------------*/
.range-slider-courses {
  margin: 15px;
  display: block;
  flex: auto;
  text-align: center;
}

.range-slider-courses p {
  text-align: center;
}

#submit_message_courses {
  text-align: center;
  margin: 25px 0;
}

@media (max-width: 650px) {
}

@media (max-width: 500px) {
}
/*------------------ News feed -----------------------*/
.news-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.news-title {
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.news-box {
  width: 100%;
  height: 400px;
  border: 1px solid lightgrey;
  margin-bottom: 40px;
  overflow-y: scroll;
  border-radius: 5px;
}

.news-slides {
  border-bottom: 1px solid grey;
}

.news-box dt {
  font-size: 22px;
  font-weight: bold;
  line-height: 200%;
  margin: 15px 0 10px 0;
  padding: 5px;
}

.news-box dd {
  margin: 5px;
  padding-top: 3px;
}

._2pac {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/*-------------------------------------------------------*/
.wrapper {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.teacher-input-bar {
  margin-bottom: 20px;
}

.teacher-course {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
}

#teacher-date, #teacher-subject, #teacher-upload, #teacher-submit, #teacher-select {
  width: 10%;
}

#teacher-date {
}

#teacher-subject {
}

#teacher-course {
  width: 35%;
  height: 35px;
}

#teacher-upload {
}

<<<<<<< HEAD
/*#teacher-comment {
  text-align: center;
  width: 20%;
  height: 35px;

}*/

.comment {
=======
#myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6, #myBtn7, #myBtn8 {
>>>>>>> d7ba0e58b1c6a90050c716d2ee9e3b2630d87927
  cursor: pointer;
}

.teacher-course-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 25px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: #a2a2a2;
  cursor: pointer;
  color: white;
}

.heading-date, .heading-select, .heading-subject, .heading-upload, .li-item-date, .li-item-select, .li-item-subject, .li-item-upload {
  width: 10%;
  height: 25px;
}

.heading-course, .li-item-course {
  width: 35%;
  height: 35px;
}

.label, .input {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

#description-label, #description-input {
  width: 35%;
  flex-wrap: wrap;
}

#date-input, #excercise-input, #description-input, #upload-input, #course-select, .btn-add-excercise, #date-label, #course-label-select, #excercise-label, #upload-label {
  width: 10%;
  border-radius: 5px;
  height: 25px;
}

#description-input, #description-label {
  width: 35%;
  flex-wrap: wrap;
}

#expand, #expand2, #expand3 {
  display: none;
  padding-bottom: 5px;
}

#excercise-input {
  height: 29px;
}

.label {
  margin-bottom: 5px;
}

.btn-add-excercise {
  text-align: center;
  justify-content: space-between;
  margin-left: 85%;
  margin-top: 10px;
  padding-bottom: 20px;
}

.submit-message, .invalid-message {
  margin-left: 40%;
  padding-bottom: 15px;
}

/*--------------------CSS for teacher charts----------------------*/
.inv {
  display: none;
}

.inv1 {
  display: none;
}

.main-curveChart {
  display: flex;
  justify-content: space-around;
}

.main-curveChart li {
  list-style: none;
}

.pieComment {
  width: 450px;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.main-pieChart {
  display: flex;
  justify-content: center;
}

.pieComment li {
  padding-bottom: 10px;
}

.pieComment h3 {
  text-align: left;
  font-size: 16px;
  width: 100%;
  padding: 15px 0;
  font-weight: bold;
}

.heading-text {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.smiley {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.smiley-2, .smiley-1, .smiley-3 {
  margin-right: 5px;
}

.pieHeading {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
/*--------------------CSS for teacher charts----------------------*/


/*------------------Adding excercise and test for teacher-----------*/

#li-exersice-corr-date, #li-exersice-student, #li-exersice-corr-subject #li-exersice-corr-course, #li-exersice-corr-upload, #li-exersice-comment, #li-exersice-grade {
  width: 10%;
}

#expand {
  display: flex;
  flex-direction: column;
}

.teacher-course-input:hover {
  background-color: #d3d3d3;
}

@media only screen and (max-width: 800px) {

  .teacher-course, .teacher-course-input {
    align-self: center;
    height: 35px;
  }

  .label-news {
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  #kurs-label-select {
    width: 10%;
  }

  #rubrik-label {
    width: 15%;
  }

  #text-label {
    width: 30%;
  }


/*------------- admin add-news (story 25)--------------------------*/


  .ad-news {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
  }

  .ad-news-header {
    font-size: 20px;
    width: 60%;
  }

  .news-topic, .ad-news-topic {
    width: 60%;
  }

  .ad-news-topic {
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    resize: none;
    margin-bottom: 30px;
    border: 1px solid lightgrey;
  }

  .ad-news-area {
    text-align: center;
    width: 100%;
  }

  .ad-news-text {
    width: 60%;
    height: 150px;
    resize: none;
    font-size: 16px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .ad-news-btn {
    color: black;
    padding-left: 10px;
    align-self: center;
  }

/*------------------------ADMIN USER---------------*/;
}

.user-label {
  font-weight: bold;
  display: flex;
  width: 25%;
  justify-content: space-around;
}

.user-input, .user-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-user-btn {
  margin-left: 85%;
}

#firstname-lable, #firstname-input, #lastname-lable, #lastname-input, #password-lable, #password-input, #password1-lable, #password1-input, #clearens-lable, #clearens-input, #email-lable, #competence-lable, #email-input, #competence-input {
  width: 25%;
  height: 28px;
  border-radius: 5px;
}

#lastname-lable, #lastname-input {
  width: 15%;
  height: 28px;
  border-radius: 5px;
}

#password-lable, #password-input {
  width: 15%;
  height: 28px;
  border-radius: 5px;
}

#password1-lable, #password1-input {
  width: 15%;
  height: 28px;
  border-radius: 5px;
}

#clearens-lable, #clearens-input {
  width: 15%;
  height: 28px;
  border-radius: 5px;
}

.klass-label {
  font-weight: bold;
}

.klass-input {
  width: 200%;
}

.content-left {
  width: 50%;
  justify-content: space-between;
  padding: 10px;
}

.main-div {
  display: flex;
  flex-direction: row;
}

.content-right {
  width: 50%;
  justify-content: space-between;
  padding: 10px;
}

.utb-input {
  width: 200%;
}

.utb-label {
  font-weight: bold;
}

.kurs-label {
<<<<<<< HEAD
	font-weight: bold;
	display: flex;
	width: 35%;
	justify-content: space-between;
}
=======
  font-weight: bold;
  display: flex;
  width: 35%;
  justify-content: space-between;
}

>>>>>>> d7ba0e58b1c6a90050c716d2ee9e3b2630d87927
