body {
  margin: 0;
  width: 100%;
  font-family: lato, san-serif;
}

header {
  border: 1px solid black;
}

footer {
  border: 1px solid black;
  margin: 0;
}

.article {
 /* Devider between articles */
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
 /* Wrap on small screens (flex items go under each other) */;
}

.article:nth-child(odd) {
  flex-direction: row-reverse;
  background-color: #f2f2f2;
}

.article:nth-child(even) {
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
}

.image-container {
   /* Let the image container fill the whole width of the screen*/
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.image-container img {
  height: 250px;
  border-radius: 5px;
}

.info-container {
  padding-bottom: 10px;
  width: 100%;
}

.info-container h3 {
  text-align: center;
  color: white;
  font-weight: 24px;
  background-color: grey;
  border-radius: 5px;
  display: inline-block;
}

.info-container ul {
  text-align: left;
  font-size: 20px;
  padding: 0 20px;
}

@media (min-width: 850px) {
 /* Media query: scale for 850px and larger screens*/
  .article {
    flex-wrap: nowrap;
 /* Make articles content (the containers) show side-by-side by preventing wrapping*/
    margin-bottom: 0;
  }

  .article:nth-child(odd) {
 /* Make every other article display its children in reversed order*/
    flex-direction: row-reverse;
    background-color: #f2f2f2;
  }

  .article:nth-child(even) {
    border-top: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
  }

  .image-container, .info-container {
 /* Make the containers take up half the view width each */
    width: 100%;
    padding: 40px;
  }

  .image-container img {
    max-width: 100%;
    border-radius: 5px;
  }
}
