/*override default margin on body in browser*/
body {
    margin: 0;
}

/* GEneral layout of page*/
header {
  border: 1px solid black;
}

main {
  border: 1px solid red;
}

footer {
  border: 1px solid black;
}

/* Main section */


.article {
    /* Devider between articles */
    margin-bottom: 50px;
    /* Flex items inside .article */
    display: flex;
    /* Wrap on small screens (flex items go under each other) */
    flex-wrap: wrap;
}

.image-container {
    border: 2px solid purple;
    /* Let the image container fill the whole width of the screen*/
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

img {
    height: 300px;
    border-radius: 5px;
}

.info-container {
    border: 1px solid orange;
}

.info-container h3 {
    text-align: center;
}

.info-container p {
    /*text-align: justify; = straight edges, more space between words.
    padding on left + right*/
    text-align: justify;
    padding: 0 20px;
}

/* Media query: scale for bigger screens*/
@media (min-width: 600px) {
    .article {
        /* Make articles content (the containers) show side-by-side by preventing wrapping*/
        flex-wrap: nowrap;
        margin-bottom: 15px;
    }
    /* Make every other article display its children in reversed order*/
    .article:nth-child(odd) {
        flex-direction: row-reverse;
    }
    /* Make the containers take up half the view width each */
    .image-container, .info-container {
        width: 50vw;
        padding: 40px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
    }
}
