.container  {
  display:flex;
  flex-direction:row;
  margin:100px; 
}

#grupp1 {
 width:flex;
 height:70px;
  padding: 10px;
  border:2px solid rgb(19, 18, 18);
}

#grupp2 {
  width:flex;
  height:70px;
  padding: 10px;
  border:2px solid rgb(19, 18, 18);
}

#grupp3 {
  width: flex;
  height: 70px;
  padding: 10px;
  border:2px solid rgb(19, 18, 18);
}

#grupp4 {
  width:flex;
  height:70px;
  padding: 10px;
  border:2px solid rgb(19, 18, 18);
}

#grupp5 {
  width:flex;
  height:70px;
  padding:10px;
  border:2px solid rgb(19, 18, 18);
}

ul {
	list-style: none;
}

li {
	list-style: none;
}
