.container  {
  display:flex;
  flex-direction:row;
  margin:100px; 
}

#grupp1, #grupp2, #grupp3, #grupp4, #grupp5 {
 display:flex;
 height:70px;
  padding: 10px;
 border:2px solid rgb(19, 18, 18);
}

ul, li {
	list-style: none;
}

