/* Set a style for all buttons */
.modal-btn button{
  background-color: #00314a;
  border: none;
  color: white;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 5px;
}

#modal-btn button:hover {
  opacity: 0.8;
}

.imgcontainer { /* Center the image and position the close button */
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
/* The Modal (background) */
.modal_fileUpload, .modal_comment {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content { /* Modal Content/Box */
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 10px;
    margin-top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

.animate { /* Add Zoom Animation */
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {transform: scale(0)
    }
    to {transform: scale(1)
    }
}
.upload{
  display: none;
}
