*{
  padding: 0;
  margin: 0;
}
.news-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  /*margin: 10px;*/
  /*padding: 20px;*/


}

.news-title {
  justify-content: center;
  text-align: center;
  width: 600px;
  padding: 20px;
  /*border: 1px solid black;*/
}
.news-box {
  flex-wrap: wrap;
<<<<<<< HEAD
  justify-content: center;
  width: 600px;
=======
  justify-content: flex-start;
  /*width: 600px;*/
>>>>>>> 8ad1ed3f81bf8cdf57857fc9bf3796b5b48db09e
  height: 400px;
  border: 1px solid lightgrey;
  padding: 40px;
  box-shadow: 5px #00314a;
  overflow: scroll;
}

.news-box ol li {
  list-style: circle;
  list-style-position: 20px;
  border-top: 1px solid lightgrey;
  margin: 40px 0 5px 0;
  padding-left: 0px;
}

.news-box h4 {
  font-size: 22px;
  line-height: 200%;
}
