html body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.body_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.price {
  margin: 40px 20px 40px 50px;
}

.price h1 {
  font-size: 60px;
  font-family: sans-serif;
  color: lightgrey;
  text-align: left;
}

.price_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*margin: auto;
  width: 90%;*/
  /*border: 3px solid green;*/
  padding: 20px;
  background-color: #FEF5E9;
}

.price_main ul li {
  /*list-style: none;*/
  line-height: 175%;
  font-family: sans-serif;
  font-size: 18px;
  /*font-weight: bold;*/
  color: grey;
  padding: 0;
}

.price_main a {
  color: #FFFFFF;
  text-decoration: none;
}

.price_head {
  /*border-bottom: 2px solid #EAEAEA; */
}

.price_head h2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 38px;
}

.price-header {
  display: flex;
  margin: 0px;
  /*position: relative;
  z-index: 5;*/
}

.price-header img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.offer_left {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  justify-content: flex-start;
  padding: 20px;
  margin: 20px;
  /*border: 1px solid red;*/
  border-radius: 10px;
  box-shadow: 2px 2px 1px 2px #FFEBCE;
}

.offer_left:hover {
  box-shadow: 3px 2px 5px 2px #EDD7B8;
}

.offer_right {
  width: 400px;
  height: 400px;
  justify-content: flex-end;
  padding: 20px;
  margin: 20px;
  /*border: 1px solid red;*/
  border-radius: 10px;
  box-shadow: 2px 2px 1px 2px #FFEBCE;
}

.offer_right:hover {
  box-shadow: 3px 2px 5px 2px #EDD7B8;
}

.offer_free {
  flex-direction: row;
  justify-content: flex-end;
}

.offer-contact-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  margin-top: 50px;
  background-color: #00314a;
  border-radius: 5px;
}

.offer-contact h3 {
  color: #FFFFFF;
  font-size: 22px;
}

.offer-contact-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  margin-top: 52px;
  background-color: #00314a;
  border-radius: 5px;
}

.offer-contact-left:hover, .offer-contact-right:hover {
  background-color: #2F6DC1;
}

.footer {
  margin-top: 40px;
  height: 50px;
  width: 100%;
  /*background-color: #00314a;*/
  /*border: 1px red solid;*/
  display: flex;
  flex-wrap: wrap;
}

.footer p {
  color: #FFFFFF;
}

.sticky-footer {
  flex: 1;
  background-color: #00314a;
}

/*footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    padding:10px 0 10px 0px;
    margin-top: 100px;
    height: 50px;
    background-color: #00314a;
    text-align: center;

}

footer p {

}

.allRights {
  margin-top: 0px;
  justify-content: center;
  color: grey;

}*/

/*
.allRights ul li  {
  line-height: 1.6;
  list-style: none;
  text-align: center;
  font-size: 0.80em;
  font-family: Verdana;


}
.allRights a {
  color: grey;
  text-decoration: none;
}*/

@media (max-width: 1024px) {
  .price_main {
    flex-direction: column;
    justify-content: center;
  }
  .price {
    width: 50vw;
    height:
  }
  .offer_right {
    width: 500px;
    height: auto;
    padding-bottom: 20px;
  }
  .offer_left {
    width: 500px;
    height: auto;
    padding-bottom: 20px;
  }
  .price h1 {
    font-size: 50px;
  }
}