html body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.body_wrapper {
display: flex;
flex-direction: column;
min-height: 100vh;
}

.price-img-container {
  display: flex;
  margin: 0px;
  /*border: 1px solid red;*/
}
.price-img-container img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.price-headline h1 {
    font-size: 38px;
    font-family: Verdana, sans-serif;
    color: #919191;
    margin: 30px;
}

.price-content-wrapper {
  display: flex;
  justify-content: center;
  background-color: #FEF5E9;
  margin: 20px 0 40px 0;
}

.price-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #FEF5E9;
  /*border: 1px solid red;*/
}

.price-content ul li {
  text-align: left;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  line-height: 100%;
  margin: 20px;
}

.price-content a {
  text-decoration: none;
}


/*.price-list-wrapper-left {
  display: flex;
  flex-direction: column;
}*/

.price-list-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 500px;
  margin: 10px 20px 10px 20px;
  padding: 20px;
  background-color: #feedd7;
  border-radius: 5px;
  /*border: 1px solid red;*/
}

.price-list-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 500px;
  margin: 10px 20px 10px 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #feedd7;
  /*border: 1px solid red;*/
}

.price-title {
  display: block;
  background-color: #00314a;
  margin-bottom: 40px;
  padding: 5px;
  border-radius: 5px;
  /*border: 1px solid red;*/
}


.price-title h2 {
  color: #FFFFFF;
  font-family: sans-serif;
}

.price-bullet-list {
  /*border: 1px solid red;*/
}

.price-contact-left {
  display: block;
  align-self: flex-end;
  margin: 20px 5px 20px 0;
  padding: 5px;
  width: 100px;
  height: 40px;
  /*background-color: #00314a;*/
  /*border: 1px solid red;*/
}
.price-contact-left h4 {
    font-size: 18px;
    color: #00314a;
    text-align: center;
    /*border: 1px solid red;*/
    padding: 0px;
}
.price-contact-right {
  display: block;
  align-self: flex-end;
  margin: 20px 5px 20px 0;
  padding: 5px;
  width: 100px;
  height: 40px;
  /*background-color: #00314a;*/
  /*border: 1px solid red;*/
}

.price-contact-right h4 {
  font-size: 18px;
  color: #00314a;
  text-align: center;
  /*border: 1px solid red;*/
}

.price-contact-left h4:hover {
  color: #3272C2;
}

.price-contact-right h4:hover {
  color: #3272C2;
}

.footer {
  margin-top: 40px;
	height: 50px;
	width: 100%;
	/*background-color: #00314a;*/
	/*border: 1px red solid;*/
	display: flex;
	flex-wrap: wrap;

}
.footer p {
  color: #FFFFFF;
}

.sticky-footer {
	flex: 1;
  background-color: #00314a;

}


/*footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    padding:10px 0 10px 0px;
    margin-top: 100px;
    height: 50px;
    background-color: #00314a;
    text-align: center;

}

footer p {

}

.allRights {
  margin-top: 0px;
  justify-content: center;
  color: grey;

}*/

/*
.allRights ul li  {
  line-height: 1.6;
  list-style: none;
  text-align: center;
  font-size: 0.80em;
  font-family: Verdana;


}
.allRights a {
  color: grey;
  text-decoration: none;
}*/

@media (max-width: 900px) {

  .price-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #FEF5E9;
    /*border: 1px solid red;*/
  }

  .price-list-left {
    width: 300px;
    height: 500px;
    margin: 10px 20px 10px 0px;
    padding: 20px;
    background-color: #feedd7;
    border-radius: 5px;


  }

  .price-list-right {
    width: 300px;
    height: 500px;
    margin: 10px 0px 10px 0px;
    padding: 20px;
    border-radius: 5px;
    background-color: #feedd7;

  }

}

@media (max-width: 750px){

  /*.price_main {
    flex-direction: column;
    justify-content: center;
  }

  .price {
    width: 50vw;
    height:
  }

  .offer_right  {
    width: 500px;
    height: auto;
    padding-bottom: 20px;
  }*/
  /*.offer_left {
    width: 500px;
    height: auto;
    padding-bottom: 20px;
  }*/

  /*.price h1 {
    font-size: 50px;
  }*/

  .price-list-left {
    width: 500px;
    height: 500px;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    background-color: #feedd7;
    border-radius: 5px;
    /*border: 1px solid red;*/
  }

  .price-list-right {
    width: 500px;
    height: 500px;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #feedd7;
    /*border: 1px solid red;*/
  }
}
