html body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.body_wrapper {
<<<<<<< HEAD
display: flex;
flex-direction: column;
min-height: 100vh;
}

.price-img-container {
  display: flex;
  margin: 0px;
  /*border: 1px solid red;*/
}
.price-img-container img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.price-headline h1 {
    font-size: 38px;
    font-family: Verdana, sans-serif;
    color: #919191;
    margin: 30px;
}

.price-content-wrapper {
  display: flex;
  justify-content: center;
  background-color: #FEF5E9;
  margin: 20px 0 40px 0;
}

.price-content {
=======
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.price {
  margin: 40px 20px 40px 50px;
}

.price h1 {
  font-size: 60px;
  font-family: sans-serif;
  color: lightgrey;
  text-align: left;
}

.price_main {
>>>>>>> d8b7762708baff3576e1c6c8d1861e7eb07dccba
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #FEF5E9;
<<<<<<< HEAD
  /*border: 1px solid red;*/
}

.price-content ul li {
  text-align: left;
  font-family: Verdana, sans-serif;
=======
}

.price_main ul li {
  /*list-style: none;*/
  line-height: 175%;
  font-family: sans-serif;
>>>>>>> d8b7762708baff3576e1c6c8d1861e7eb07dccba
  font-size: 18px;
  line-height: 100%;
  margin: 20px;
}

<<<<<<< HEAD
.price-content a {
  text-decoration: none;
}

=======
.price_main a {
  color: #FFFFFF;
  text-decoration: none;
}

.price_head {
  /*border-bottom: 2px solid #EAEAEA; */
}

.price_head h2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 38px;
}
>>>>>>> d8b7762708baff3576e1c6c8d1861e7eb07dccba

/*.price-list-wrapper-left {
  display: flex;
<<<<<<< HEAD
  flex-direction: column;
}*/

.price-list-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 500px;
  margin: 10px 20px 10px 20px;
  padding: 20px;
  background-color: #feedd7;
  border-radius: 5px;
  /*border: 1px solid red;*/
=======
  margin: 0px;
  /*position: relative;
  z-index: 5;*/
}

.price-header img {
  width: 100%;
  height: 100%;
  margin: 0px;
>>>>>>> d8b7762708baff3576e1c6c8d1861e7eb07dccba
}

.price-list-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 500px;
  margin: 10px 20px 10px 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #feedd7;
  /*border: 1px solid red;*/
<<<<<<< HEAD
}

.price-title {
  display: block;
  background-color: #00314a;
  margin-bottom: 40px;
  padding: 5px;
  border-radius: 5px;
  /*border: 1px solid red;*/
}


.price-title h2 {
  color: #FFFFFF;
  font-family: sans-serif;
=======
  border-radius: 10px;
  box-shadow: 2px 2px 1px 2px #FFEBCE;
}

.offer_left:hover {
  box-shadow: 3px 2px 5px 2px #EDD7B8;
>>>>>>> d8b7762708baff3576e1c6c8d1861e7eb07dccba
}

.price-bullet-list {
  /*border: 1px solid red;*/
}

.price-contact-left {
  display: block;
  align-self: flex-end;
  margin: 20px 5px 20px 0;
  padding: 5px;
  width: 100px;
  height: 40px;
  /*background-color: #00314a;*/
  /*border: 1px solid red;*/
}
.price-contact-left h4 {
    font-size: 18px;
    color: #00314a;
    text-align: center;
    /*border: 1px solid red;*/
    padding: 0px;
}
<<<<<<< HEAD
.price-contact-right {
  display: block;
  align-self: flex-end;
  margin: 20px 5px 20px 0;
  padding: 5px;
  width: 100px;
  height: 40px;
  /*background-color: #00314a;*/
  /*border: 1px solid red;*/
}

.price-contact-right h4 {
  font-size: 18px;
  color: #00314a;
  text-align: center;
  /*border: 1px solid red;*/
}

.price-contact-left h4:hover {
  color: #3272C2;
=======

.offer-contact-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  margin-top: 50px;
  background-color: #00314a;
  border-radius: 5px;
}

.offer-contact h3 {
  color: #FFFFFF;
  font-size: 22px;
}

.offer-contact-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  margin-top: 52px;
  background-color: #00314a;
  border-radius: 5px;
>>>>>>> d8b7762708baff3576e1c6c8d1861e7eb07dccba
}

.price-contact-right h4:hover {
  color: #3272C2;
}

.footer {
  margin-top: 40px;
  height: 50px;
  width: 100%;
  /*background-color: #00314a;*/
  /*border: 1px red solid;*/
  display: flex;
  flex-wrap: wrap;
}

.footer p {
  color: #FFFFFF;
}

.sticky-footer {
  flex: 1;
  background-color: #00314a;
}

/*footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    padding:10px 0 10px 0px;
    margin-top: 100px;
    height: 50px;
    background-color: #00314a;
    text-align: center;

}

footer p {

}

.allRights {
  margin-top: 0px;
  justify-content: center;
  color: grey;

}*/

/*
.allRights ul li  {
  line-height: 1.6;
  list-style: none;
  text-align: center;
  font-size: 0.80em;
  font-family: Verdana;


}
.allRights a {
  color: grey;
  text-decoration: none;
}*/

<<<<<<< HEAD
@media (max-width: 900px) {

  .price-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #FEF5E9;
    /*border: 1px solid red;*/
  }

  .price-list-left {
    width: 300px;
    height: 500px;
    margin: 10px 20px 10px 0px;
    padding: 20px;
    background-color: #feedd7;
    border-radius: 5px;


  }

  .price-list-right {
    width: 300px;
    height: 500px;
    margin: 10px 0px 10px 0px;
    padding: 20px;
    border-radius: 5px;
    background-color: #feedd7;

  }

}

@media (max-width: 750px){

  /*.price_main {
=======
@media (max-width: 1024px) {
  .price_main {
>>>>>>> d8b7762708baff3576e1c6c8d1861e7eb07dccba
    flex-direction: column;
    justify-content: center;
  }
  .price {
    width: 50vw;
    height:
  }
  .offer_right {
    width: 500px;
    height: auto;
    padding-bottom: 20px;
  }*/
  /*.offer_left {
    width: 500px;
    height: auto;
    padding-bottom: 20px;
<<<<<<< HEAD
  }*/

  /*.price h1 {
=======
  }
  .price h1 {
>>>>>>> d8b7762708baff3576e1c6c8d1861e7eb07dccba
    font-size: 50px;
  }*/

  .price-list-left {
    width: 500px;
    height: 500px;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    background-color: #feedd7;
    border-radius: 5px;
    /*border: 1px solid red;*/
  }
<<<<<<< HEAD

  .price-list-right {
    width: 500px;
    height: 500px;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #feedd7;
    /*border: 1px solid red;*/
  }
}
=======
}
>>>>>>> d8b7762708baff3576e1c6c8d1861e7eb07dccba
