* {
  font-family: lato;
}

.main {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.header1, .list-items-header {
  display: flex;
  justify-content: space-between;
}

.section-1 {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.section-2 {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.section-1-admin-users {
  display: flex;
  width: 50%;
}

.id, .document {
  width: 10%;
}

.date, .comment {
  width: 20%;
}

.name, .grade {
  width: 30%;
}

.header1 {
  background-color: white;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
}

.list-items-header:hover {
  background-color: #d3d3d3;
}

.course {
  width: 20%;
  align-self: center;
}

@media only screen and (max-width: 650px) {
  .header1, .list-items-header {
    flex-direction: column;
    width: 100%;
  }

  .section-1, .section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid red;*/
    width: 100%;
  }

  .section-2 {
    justify-content: space-between;
  }
}

.modal { /* The Modal (background) */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content { /* Modal Content */
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}

.close { /* The Close Button */
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*------------------ADD COURSE NEWS-------------*/

.label-news {
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.input-news {
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#btn-news, #submit-news-message, #invalid-news-message {
  margin-left: 85%;
}

#kurs-label-select, #kurs-select {
  width: 15%;
  height: 28px;
  border-radius: 5px;
}

#rubrik-label, #rubrik-input {
  width: 20%;
  height: 28px;
  border-radius: 5px;
}

#text-lable, #text-input {
  width: 30%;
  height: 28px;
  border-radius: 5px;
}
