html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;

}

/*Whole page container */
.nav-container {
	width: 100%;
	margin: 0;
	height: 113px;
	top: 0px;
	/*border: 2px solid red;*/
	display: flex;
	z-index: -10;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #1D7CF2; //
	
}
.main-head {
	width: 100%;
	margin-top: 0px;
	height: 990px;
	background: url('../Img/classroom.jpg');
	background-size: cover;
	top: 0;
	/*border: 2px solid red;*/
	display: flex;
	z-index: -10;
	flex-wrap: wrap;
	opacity: 80%;
	
}
.mid-content {/*
	border: 1px solid blue;*/
	flex: 1;
	text-align: center; 
	align-self: center;
	color: #1D7CF2;

}

/*Only navbar container. Contains navlist, logo and login button. */
.navbar {
	display: flex;
	/*align-items: center;*/ /*making text inside the page*/
	text-align: center; /*making text center inside the div.*/
	/*border: 1px solid yellow;*/
	flex: 4;
	height: 100px;
	flex-wrap: wrap

}
nav {
    /*border: 1px solid blue;*/
    margin: 5px auto;
    flex: 1;
    text-align: left; //
   
    
}

#navbar-btn {
	display: none;
}

.logo {
	/*border: 1px solid blue;*/
	margin: 5px auto;
	flex: 1;
	margin-top: 0px;
	position: relative; 
	height: 100px;

	
}
.login{
	/*border: 1px solid blue;*/
	margin: 5px auto;
	flex: 1;
	padding-top: 20px;
}


nav {
	float: left;
	/*border: 1px solid red;*/
	justify-content: flex-end;
	flex:  1;


}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;

}
nav li{
	display: inline-block;
	margin-left: 35px;
	padding-top: 30px;
	padding-right: 10px;

	position: relative;
	margin: 1px solid red;
}
nav a {
	color: #E5F9FF;/*add color to navbar*/
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-left: 0;

}

nav a:hover {
	color: #000;
}
nav a:before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #E5F9FF;/*Hover color ease-in-out*/
	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 200ms;
}
nav a:hover::before {
	width: 100%;
}



.centered_text {
	display: flex;
	justify-content: center;
	/*border: 1px solid red;*/
	margin-top: 5px; 
	text-align: center;


}
.inside_text {
	/*border:1px solid red;*/
	font-size: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #1D7CF2;
	
}

/*Three icons*/
.icons_3 {
	display: flex;
	justify-content: space-around;
	/*border: 1px solid red;*/	
	height: 400px;
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 5px; 
}

.icons_3 p {
	font-size: 1em;
}
.heading {
	font-size: 40px;
}
.box1{
   /* border: 1px solid red;*/
    flex: 1;
    text-align: center;
    margin-top: 5px;
    padding: 5px 5px;
    margin-left: 0px;


}
.box2{
   /* border: 1px solid red;*/
    flex: 1;
    text-align: center;
    margin-top: 5px;
    padding: 5px 5px;
}
.box3{
    /*border: 1px solid red;*/
    flex: 1;
    text-align: center;
    margin-top: 5px;
    padding: 5px 5px;
}


/*footer*/

.footer {
	height: 50px;
	width: 100%;
	background-color: #d9b1b1; 
	/*border: 1px red solid;*/
	display: flex;
	flex-wrap: wrap;
	display: flex;
	

}



@media (max-width: 600px) {
	.inside_text {
	font-size: 40px;	
}
	.icons_3{
/*		justify-content: flex-start;
*/		text-align: start;
		display: block;
		flex-wrap: wrap;
	}
	.icons_3 p {
	font-size: 0.9em;
	
}
.heading {
	font-size: 25px;

}
img {
	width: 25%;
}

.login{
	padding-right: -30px;
}
.main-head {
	height: 350px;
	background: url('../Img/classroom.jpg');
	background-size: cover;
}
.nav-container {
	height: 80px;

}
nav a {
	padding-top: 2px;
}


}