table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0px;
}

th, td {
    text-align: center;
    
}

.switch {
  position: relative;
  display: block;
  width: 65px;
  height: 40px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lime;
  -webkit-transition: .4s;
  transition: .4s;
}

/*.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: none;
  -webkit-transition: .4s;
  transition: .4s;
}*/

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/*.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/
.atten_btn {
    /*border: 1px solid black;*/
    text-align: center;
    justify-content: center;
}

.btn_atten {
    align-self: center;
}
button {
  background-color: #00314a;
  border: none;
  color: white;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 5px;
}